<div class="container-fluid">
  <h2 class="text-center">Post a Quote</h2>
  <hr />
  <form action="">
    <div class="form-group">
      <label for="statement">Quote</label>
      <textarea
        class="form-control"
        id="statement"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" id="author" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="dateOfPosting"></label>
      <input type="date" id="dateOfPosting" required />
    </div>
  </form>
</div>
